*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display:flex;
    background-color: blue;
    height: 100vh;
}

.item {
    border: 5px solid black;
    height: 200px;
    width: 200px;
    background-color: bisque;
}

.a{
    align-self: center;
}

.c{
    align-self: flex-end;
}
