*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display:flex;
    justify-content: center;
    background-color: blue;
    width:1200px;
 
}

.item {
    border: 5px solid black;
    height: 200px;
    width: 200px;
    background-color: bisque;
}

.item.c {
    flex-grow: 1;
}
